.left-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    border-right: 1px solid rgba(0,0,0,.12);
}
.nav-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .my-tree-box {
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 16px 24px;
        overflow: auto;
    }
}
.right-box {
    position: absolute;
    top: 0;
    left: 400px;
    bottom: 0;
    right: 0;
    overflow: auto;
}
@media all and (max-width: 800px) {
    .left-box {
        display: none;
    }
    .right-box {
        left: 0;
    }
}

.article {
    padding: 16px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.request-list {
    .request-item {
        padding: 24px 16px;
        border-bottom: 1px solid rgba(0,0,0,.12);
    }
    .title {
        margin-bottom: 16px;
        font-size: 20px;
    }
    .sub-title {
        margin: 16px 0;
        font-size: 16px;
    }
    .url {
        padding: 16px;
        border: 1px solid #eee;
        font-size: 16px;
    }
    .method {
        color: #fff;
        background-color: #49cc90;
        margin-right: 16px;
        padding: 4px 8px;
        border-radius: 4px;
        cursor: pointer;
    }
    .method-GET {
        background-color: #61affe;
    }
    .method-POST {
        background-color: #49cc90;
    }
    .method-PUT {
        background-color: #fca130;
    }
    .method-DELETE {
        background-color: #f93e3e;
    }
}

pre {
    padding: 16px;
    border-radius: 3px;
    background: #FAFAFA;
    border: thin solid #e6e6e6;
}
table {
    width: 100%;
    th,
    td {
        padding: 8px 16px;
        border: 1px solid #eee;
    }
}
.tool-box {
    max-width: 800px;
    width: 100%;
    .body {
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 16px;
        overflow: auto;
    }
    .url {
        margin-bottom: 16px;
        font-weight: bold;
    }
}
.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 2px;
    right: 0;
    height: 64px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    .input {
        flex-grow: 1;
        height: 100%;
        padding: 0 16px;
        line-height: 64px;
        border: none;
        outline: none;
    }
}
.empty-box {
    color: #666;
    padding: 80px;
    text-align: center;
}
.btn-copy {
    cursor: pointer;
}
